@font-face {
  font-family: 'NunitoSans';
  src: url("../fonts/Nunito/NunitoSans-Regular.ttf") format("truetype"), url(public/fonts/Nunito/NunitoSans-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSans';
  src: url("../fonts/Nunito/NunitoSans-SemiBold.ttf") format("truetype"), url(public/fonts/Nunito/NunitoSans-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSans';
  src: url("../fonts/Nunito/NunitoSans-Bold.ttf") format("truetype"), url(public/fonts/Nunito/NunitoSans-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSans';
  src: url("../fonts/Nunito/NunitoSans-ExtraBold.ttf") format("truetype"), url(public/fonts/Nunito/NunitoSans-ExtraBold.woff) format("woff");
  font-weight: 800;
  font-style: normal;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

input {
  -webkit-appearance: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-size: 16px;
  font-family: "NunitoSans", sans-serif;
  line-height: 1;
  min-height: 100vh;
  background-color: #f5f8fd;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.general {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right bottom, #e9eef8, #c6cddc);
}

.general__container {
  position: relative;
  width: 410px;
  height: 870px;
  max-height: 80vh;
  border-radius: 50px;
  background-color: white;
  box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.general__container iframe {
  width: 100%;
  height: 100%;
}

.general__container::before {
  position: absolute;
  display: block;
  content: "";
  top: 15px;
  left: 20px;
  right: 20px;
  height: 10px;
  background-image: url(../images/status-bar.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .general__container {
    width: 100%;
    height: 100%;
    max-height: 100%;
    border-radius: unset;
  }
}

.recomendation {
  position: relative;
  height: 50vh;
  margin-bottom: 30px;
}

.recomendation__search {
  position: absolute;
  top: 50px;
  left: 25px;
  right: 25px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.23);
  border-radius: 5px;
  padding: 12px;
  z-index: 3;
}

.recomendation__search input {
  width: 85%;
  margin-left: 15px;
  background: rgba(255, 255, 255, 0);
  color: white;
  font-family: "NunitoSans", sans-serif;
  font-style: normal;
  font-size: 18px;
}

.recomendation__search input::placeholder {
  color: white;
  font-size: 16px;
}

.recomendation__slider {
  width: 100%;
  height: 100%;
  border-radius: 0 0 50px 50px;
  overflow: hidden;
}

.recomendation__wrapper {
  height: 100%;
}

.recomendation__slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: inset 0px -150px 100px -50px rgba(0, 0, 0, 0.5);
}

.recomendation__slide-text {
  padding: 20px;
}

.recomendation__slide-type {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 15px;
}

.recomendation__slide-title {
  font-size: 33px;
  font-weight: 800;
  color: white;
  margin-bottom: 15px;
}

.recomendation__slide-price {
  display: flex;
  align-items: center;
  font-size: 25px;
}

.recomendation__slide-price-now {
  font-weight: 800;
  color: #56bffc;
}

.recomendation__slide-price-old {
  font-size: 0.6em;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: line-through;
  margin-left: 10px;
}

.recomendation__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.recomendation__pagination .swiper-pagination-bullet {
  height: 7px;
  width: 7px;
  background-color: #98cdf7;
  opacity: 1;
  transition: transform 200ms;
}

.recomendation__pagination .swiper-pagination-bullet-active {
  transform: scale(1.5);
  background-color: #3ba2f2;
}

.recomendation__pagination .swiper-pagination-bullet + .swiper-pagination-bullet {
  margin-left: 12px;
}

.trending__slide {
  width: 145px;
}

.trending__slide:first-of-type {
  margin-left: 20px;
}

.trending__slide:last-of-type {
  margin-right: 20px;
}

.icon {
  display: inline-block;
  max-height: 20px;
  max-width: 20px;
  fill: white;
}

.section {
  padding: 10px 0;
}

.section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 20px;
}

.section__title {
  font-size: 20px;
  font-weight: 700;
  color: #181819;
}

.section__show {
  font-size: 14px;
  color: #319bee;
}

.product-card-small {
  width: 145px;
  background-color: white;
  box-shadow: 5px 10px 20px -5px rgba(131, 133, 136, 0.24);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.product-card-small__image {
  height: 115px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.product-card-small__info {
  padding: 10px 15px;
}

.product-card-small__title {
  display: block;
  color: #737373;
  font-weight: 600;
  margin-bottom: 8px;
  letter-spacing: -1px;
}

.product-card-small__price {
  display: flex;
  align-items: center;
}

.product-card-small__price-now {
  font-weight: 800;
}

.product-card-small__price-old {
  margin-left: 10px;
  font-size: 10px;
  font-weight: 600;
  color: #cacaca;
  text-decoration: line-through;
}
