<div class="product-card-cart" data-price="@@price">
  <div class="product-card-cart__image" style="background-image: url('@@image');"></div>
  <div class="product-card-cart__info">
    <p class="product-card-cart__title">@@title</p>
    <div class="product-card-cart__selected">
      <p>@@color</p>
      &nbsp; &bull; &nbsp;
      <p>@@size</p>
    </div>
    <div class="product-card-cart__footer">
      <p class="product-card-cart__price">$@@price</p>
      <div class="product-card-cart__counter js-productCounter" data-max-count="10" data-min-count="1">
        <a class="product-card-cart__counter-dec js-productCounterDec">&minus;</a> &nbsp; &nbsp;
        <div class="product-card-cart__counter-count js-productCounterCount">@@count</div> &nbsp; &nbsp;
        <a class="product-card-cart__counter-inc js-productCounterInc">+</a>
      </div>
    </div>
  </div>
</div>
